@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- method ="post" tells it that it will send values out -->
<!-- asp-action tells it which action in controller it will go to -->
<form asp-method="post" asp-action="CatResult">
    <!-- name of input  will be its variable name -->
    <input type="text" name="Name" />
    <input type="text" name="Description" />

    <!-- On click, will send values to associated action -->
    <input type="submit" />
</form>

